
<p>
  <strong>Name:</strong>
  <%= @employee[:name] %>
</p>
 
<p>
  <strong>Project Name:</strong>
  <%= @employee[:project_name] %>
</p>

<p>
  <strong>Lead Name:</strong>
  <%= @employee[:lead_name] %>
</p>
 
<p>
  <strong>skills:</strong>
  <%= @employee[:skills] %>
</p>
<br><br>
<%= link_to 'Back', employees_path %>